<div class="wrapper">
  <footer
    class="footer text-center text-lg-start text-white"
    style="background-color: #929fba; width: 100%"
  >
    <div>
      <section>
        <div class="row">
          <div>
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #3b5998"
              href="#!"
              role="button"
              ><i class="fab fa-facebook-f"></i
            ></a>

            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #55acee"
              href="#!"
              role="button"
              ><i class="fab fa-twitter"></i
            ></a>

            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #0082ca"
              href="#!"
              role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>

            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #333333"
              href="#!"
              role="button"
              ><i class="fab fa-github"></i
            ></a>
          </div>
        </div>
      </section>
    </div>

    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2024 Copyright:
      <a class="text-white" href="https://Anurag.com/">Anurag.com</a>
    </div>
  </footer>
</div>
