/* Apply basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product-list{ max-width: 800px; margin: 0 auto; padding: 20px; border: 1px solid #ccc; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); background-color: #f9f9f9; text-align: center; } 

.product-list h1 { font-size: 24px; color: #333; margin-bottom: 20px; } 
.product-list table { width: 100%; border-collapse: collapse; } 
.product-list th,.product-list td { border: 1px solid #ccc; padding: 10px; text-align: left; } 
.product-list th { background-color: #f2f2f2; } 
.product-list img { max-width: 100px; height: auto; border-radius: 5px; }

.message-p {
  font-size: 1rem;
  color: #e90c0c; /* Green color for success messages */
  margin-bottom: 20px;
  font-weight: bold;
}


/* Responsive table */
@media screen and (max-width: 768px) {
    table {
        font-size: 0.8rem;
    }

    thead {
        display: none; /* Hide table headers on smaller screens */
    }

    tbody tr {
        display: block;
        margin-bottom: 10px;
    }

    tbody tr td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 10px;
        border-bottom: 1px solid #ddd;
    }

    tbody tr td:before {
        content: attr(data-label); /* Add a label for each cell */
        font-weight: bold;
        text-transform: capitalize;
        margin-right: 10px;
        color: #333;
    }
}
