<div class="user-auth">
  <div *ngIf="!showLogin" class="user-signup">
    <h1>User Sign-Up</h1>
    <form
      #userSignUp="ngForm"
      class="comman-form"
      (ngSubmit)="signUp(userSignUp.value)"
    >
      <input
        type="text"
        class="form-input"
        name="name"
        ngModel
        placeholder="Enter username"
      />
      <input
        type="text"
        class="form-input"
        name="email"
        ngModel
        placeholder="Enter Email"
      />
      <input
        type="password"
        class="form-input"
        name="password"
        ngModel
        placeholder="Enter password"
      />

      <button type="submit">Sign-Up</button>
      <p>Already Have Account ? <a (click)="openLogin()">Click Here</a></p>
    </form>
  </div>

  <div *ngIf="showLogin" class="user-login">
    <h1 >User Login</h1>
    <p class="error-p">{{ authError }}</p>
    <form
      #userLogin="ngForm"
      class="comman-form"
      (ngSubmit)="login(userLogin.value)"
    >
      <input
        type="text"
        class="form-input"
        name="email"
        placeholder="Enter Email"
        #email="ngModel"
        required
        ngModel
        email
      />
      <p class="invalid-input">
        <span *ngIf="email.invalid && email.touched">Enter Email</span>
      </p>
      <input
        type="password"
        class="form-input"
        name="password"
        placeholder="Enter Password"
        ngModel
        #password="ngModel"
        required
        minlength="2"
        maxlength="20"
      />
      <p>
        <span *ngIf="password.invalid && password.touched">Enter Password</span>
      </p>

      <button [disabled]="userLogin.invalid" type="submit">Login</button>
      <p>Don't Have Account ? <a (click)="openSignUp()">Click Here</a></p>
    </form>
  </div>
</div>
