body{
font-family: sans-serif;
background-color: rgb(230, 226, 226);
}

.form-button{
  height: 35px;
  border: 1px solid #0648a0;
  color: rgb(1, 86, 112);
  cursor: pointer;
  background-color: rgb(206, 222, 230);
}


.max-width{
width: 100%;
}












